<header>
  <nav class="min-w-full py-4 fixed top-0 bg-red-800 shadow-lg z-50">
    <div class="container mx-auto flex justify-between items-center px-4">
      <!-- Logo und Titel -->
      <div class="flex items-center space-x-3">
        <img src="/ff-logo.svg" alt="Logo" class="h-10 hidden lg:block" />
        <p class="text-lg xl:text-2xl font-semibold text-white tracking-wide">
          FF-Stranzendorf
        </p>
      </div>

      <button
        class="lg:hidden text-white focus:outline-none"
        (click)="toggleMenu()"
        aria-label="Toggle menu"
      >
        <svg
          *ngIf="!isMenuOpen"
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"
          />
        </svg>
        <svg
          *ngIf="isMenuOpen"
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>

      <div
        [ngClass]="{
          'hidden': !isMenuOpen,
          'flex': isMenuOpen
        }"
        class="absolute top-full left-0 w-full bg-white text-center lg:flex lg:space-x-8 lg:static lg:w-auto lg:bg-transparent transition-all duration-300"
      >
        <ul
          class="flex flex-col lg:flex-row items-center space-y-4 lg:space-y-0 lg:space-x-8 text-red-800 font-semibold text-lg md:text-base lg:text-white lg:font-normal"
        >
          <li class="hover:text-red-600 lg:hover:text-white transition cursor-pointer">
            Home
          </li>
          <li class="hover:text-red-600 lg:hover:text-white transition cursor-pointer">
            News
          </li>
          <li class="hover:text-red-600 lg:hover:text-white transition cursor-pointer">
            SGC
          </li>
          <li class="hover:text-red-600 lg:hover:text-white transition cursor-pointer">
            Veranstaltungen
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
